model-viewer{
    background: rgb(245,57,50);
    background-color: rgb(245,57,50);
    background: radial-gradient(circle, rgba(245,57,50,1) 0%, rgba(0,0,0,1) 50%);
    }
* {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 250ms linear;
}
#hmdb {
    background: rgb(245,57,50);
    background: linear-gradient(180deg, rgba(245,57,50,1) 0%, rgba(0,0,0,1) 100%);
}
p {
    font-family: 'Oswald', sans-serif;
    font-size: 110%;
    margin: 0%;
    color: white;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    text-shadow: 8px 8px 8px rgb(0, 0, 0);
  }
  h1 {
    margin: 0%;
    color: #ffc404;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 40px;
    padding-top: 120px;
    padding-bottom: 40px;
    font-size: larger;
    margin: 0px!important;
  }
  
  h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 100%;
    margin: 0%;
    color: #dd9e16;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
  }

  .minih2 {
    font-size: 130%;
    color: #dd9e16;
  }
  
  div {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
  }

  a {
    font-family: 'Oswald', sans-serif;
    font-size: 100%;
    margin: 0%;
    color: white;
    text-align: center;
  }
  
  a:hover {
    color: #1302f7;
    transition: all 250ms linear;
  }
div#hmdb table {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #333333;
}
th {
    background-color: #333333;
    color: white;
}
th,
td {
    padding: 0.4em;
  }
td {
    background-color: white;
    color: black;
}
td:nth-child(even) {
    background-color: #e4e4e4;
}
td:hover {
    color: #1302f7;
    background-color: #f53932;
}
@media screen and (max-width: 550px) {
    td {
        padding: 0em;
      } 
}